<table class="game-board">
    <tr class="row-0">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
    <tr class="row-1">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
    <tr class="row-2">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
    <tr class="row-3">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
    <tr class="row-4">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
    <tr class="row-5">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
    <tr class="row-6">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
    <tr class="row-7">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
    <tr class="row-8">
        <td class="col-0"><input class="sudoku-input"></td>
        <td class="col-1"><input class="sudoku-input"></td>
        <td class="col-2"><input class="sudoku-input"></td>
        <td class="col-3"><input class="sudoku-input"></td>
        <td class="col-4"><input class="sudoku-input"></td>
        <td class="col-5"><input class="sudoku-input"></td>
        <td class="col-6"><input class="sudoku-input"></td>
        <td class="col-7"><input class="sudoku-input"></td>
        <td class="col-8"><input class="sudoku-input"></td>
    </tr>
</table>