body {
  padding-top: 70px;
}
body input.ng-dirty.ng-valid {
  background-color: #8fbc8f !important;
}
body input.ng-dirty.ng-invalid {
  background-color: #ffc0cb !important;
}
body .table-drivers {
  padding: 10px;
}
body .table-drivers td,
body .table-drivers th {
  padding: 10px;
}
